{% extends "base.html" %}

{% block content %}
<div class="container">
    <div class="row">
        <div class="col-sm">
            <img src="static/images/pictogram-gabf45be43_640.png" width="320" height="160">
        </div>
    </div>
    <div class="row">
        <div class="col-sm">
            <h1>Welcome</h1>
            <p>You can use this to calculate a swim/bike/run race time by giving a pace or vice-versa.<br>
               It is primariliy intended as a hobby project by myself to do some frontend coding with Python / Flask.</p>
            <p>For bug reports / feature requests: <a href="https://github.com/dopafon/pace-calculator">Github</a></p>
            <p><small>
                Image by <a href="https://pixabay.com/users/depuys-1852098/?utm_source=link-attribution&amp;utm_medium=referral&amp;utm_campaign=image&amp;utm_content=1616725">depuys</a> from <a href="https://pixabay.com/?utm_source=link-attribution&amp;utm_medium=referral&amp;utm_campaign=image&amp;utm_content=1616725">Pixabay</a>
            </small></p>
        </div>
    </div>
</div>

{% endblock %}
